/*
  Hex colors
  --main-bg-color: #161515;
  --main-text-color: #d0cdcc;
  --accent-color: #10B981;
*/
:root {
  /* dark grey bg */
  /* --main-bg-color-rgb: 22, 21,21; */
  /* dark grey with blue */
  --main-bg-color-rgb: 55, 65, 81;

  --main-text-color-rgb: 208, 205, 205;
  /* blue */
  /* --accent-color-rgb: 147, 197, 253; */
  /* rosado palido */
  --accent-color-rgb: 249, 168, 212;
  --main-bg-color: rgb(var(--main-bg-color-rgb));
  --main-text-color: rgb(var(--main-text-color-rgb));
  --accent-color: rgb(var(--accent-color-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
  "nav"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

.container > main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: 1fr;
}

.content {
  line-height: 1.75em;
}

main > section {
  grid-area: 1 / 2 / 1 / 3;
}

main > section > h1 {
  font-size: 5em;
  color: var(--accent-color)
}

main > section > h2 {
  font-size: 3em;
  color: var(--accent-color)
}

.container > footer {
  grid-area: footer;
  font-size: .85em;
  display: flex;
  justify-content: center;
  padding: .5em;
  align-items: center;
}

footer svg {
  height: 1em;
}

footer > .copyright {
  padding-right: .5em;
  border-right: 1px solid;
  margin-right: .5em;
}

.container > nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr minmax(0, 900px) 1fr;
}

nav > ul {
  list-style: none;
  grid-area: 1 / 2 / 1 / 3;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: .75em;
}

nav > ul > li {
  text-transform: capitalize;
  padding: .25em;
  color: rgba(var(--main-text-color-rgb), .65)
}

nav > ul > li.active {
  text-transform: capitalize;
  color: rgba(var(--main-text-color-rgb), 1)
}

nav > ul > li.home {
  text-transform: capitalize;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

.title > header > h1, h2 {
  color: var(--accent-color)
}

.title {
  position: relative;
}

.title > header {
  position: absolute;
  bottom: 50%;
  left: -30%;
}
.title > header > h1 {
  margin: 0;
  font-size: 5em;
  color: var(--accent-color);
  text-shadow: 0 1px 0 black;
}

.title > header > h2 {
  margin: 0;
  font-size: 2.5em;
  color: var(--accent-color);
  text-shadow: 0 1px 0 black;
}