html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
  font-family: 'Fira Sans', serif;
  background-color: #161515;
  color: #d0cdcc;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  background-color: red;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: 1fr;
  /* font-size: 16px; */
  line-height: 1.75em;
}

main > section {
  grid-area: 1 / 2 / 1 / 3;
}

footer {
  grid-area: footer;
  /* font-size: 0.9em; */
}

footer svg {
  height: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
